
.modal-right .modal-dialog {
  position: fixed;
  right: 0;
  margin: 0;
  width: 50%;
  max-width: 400px;
  height: 100%;
  margin-right: 0;
}

.modal-right .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

.custom-modal .modal-content {
  background-color: #f5f3ff;
}


